/* navbar */

.avion {
    width: 30px;
    height: 30px;
}

.z-1 {
    z-index: 2000;
}


/* section presentacion */

.fondo-negro {
    background: black;
}

.border-width {
    border-top: 2px solid;
}


/*section Destacados */


/* se corrije el alto de las imagenes de las tarjetas */

.cards-height {
    height: 158px;
}