/* Cambios globales*/

body {
    font-family: 'Montserrat', sans-serif;
}

.fondo-negro {
    background: black;
}

.border-width {
    border-top: 2px solid;
    color: rgb(23, 163, 184);
}

.fondo-celeste {
    background-color: rgb(23, 163, 184)
}


/* navbar */

.avion {
    width: 35px;
    height: 35px;
}


/*section Destacados */


/* se corrije el alto de las imagenes de las tarjetas */

.cards-height {
    height: 158px;
}

.card-body p {
    font-size: 14px;
}


/* section footer */

footer h1 {
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    footer h1 {
        font-size: 35px;
    }
}